
<p class="title is-3 m-6">All Customers</p>
<div class="search-results columns is-multiline  m-6">
  <%= render partial: 'customers/customer',
             collection: @customers,
             locals: { show_link: true } %>
</div>