
<p class="title is-3 m-6">Customers with missing emails</p>

<div class="search-results columns is-multiline  m-6">
  <%= render partial: 'customers/customer',
             collection: @customers_missing,
             locals: { show_link: true } %>
</div>